{% extends "Modules/Content with Sidebar.html" %}

{% block MainContent %}
<div class="ui teal segment">
	<h1>Choose your authors</h1>
	<p>Enter the 5 people that you'd like to ask to author your yearbook entry. The 5 people will recieve a notification asking them to write a paragraph about you.</p>
</div>

<div class="ui warning icon message">
	<i class="puzzle icon"></i>
	<div class="content">
		<div class="header">
			Apple browser compatibility.
		</div>
		Submissions on this page won't work on any version of Safari because Apple don't seem to be interested in supporting industry standard functionality.
	</div>
</div>

{% if BiographyEntries|length > 0 %}
<div class="ui attached positive message">
	<i class="write icon"></i>
	You've requested one or more biographies.
</div>
<table class="ui attached celled table">
	<thead>
		<tr>
			<th>Author</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
	{% for Entry in BiographyEntries %}
	{% set AuthorName = Entry.Author.Forename ~ " " ~ Entry.Author.Surname %}
		<tr>
			<td>
				<blockquote style="font-family: monospace">{{ AuthorName }}</blockquote>
			</td>
			<td>
				<form class="ui form" method="post" action="/choose">
					<input type="hidden" name="DeleteEntryId" value="{{ Entry.EntryId }}">
					<input type="submit" value="Delete" class="ui red submit button">
				</form>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<div class="ui bottom attached warning message">
	You have used {{ BiographyEntries|length }} out of 5 of your available entries.
</div>
{% endif %}

{% if BiographyEntries|length < 5 %}
<datalist id="students">
	{% for Student in Students %}
	<option data-value="{{ Student.StudentId }}">{{ Student.Forename }} {{ Student.Surname }}</option>
	{% endfor %}
</datalist>

<form class="ui form segment" method="post" action="/choose">
	<table class="ui celled striped table">
		<thead>
			<tr>
				<th>Author</th>
				<th>Submit</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="candidateinput">
					<input type="text" class="candidatestudentname" required="required" list="students" autocomplete="off">
					<input type="hidden" required="required" name="AuthorStudentId" class="candidatestudentid">
				</td>
				<td>
					<input type="submit" value="Submit" class="ui teal submit button">
				</td>
			</tr>
		</tbody>
	</table>
</form>
{% endif %}

{% if not OperationSuccessful %}
<div class="ui negative message">
	Your choice was invalid. Please type better.
</div>
{% endif %}

<script src="/Images/Datalist Key-Value Associator.js"></script>
{% endblock %}